<div class=" border-purple-600 bg-[#456145] p-15 flex flex-col  gap-10 w-full">
    <div class=" border-white text-center">
        <p class=" text-white font-Lora mb-8 text-balance">
            Pero al principio de la creación, varón y hembra los hizo Dios. Por esto
            dejará el hombre a su padre y a su madre, y se unirá a su mujer, y los
            dos serán una sola carne; así que no son ya más dos, sino uno. Por
            tanto, lo que Dios juntó, no lo separe el hombre.
        </p>
        <p class=" text-white font-Lora text-lg">Marcos 10:6-9</p>
    </div>
</div>