---
import { Image } from 'astro:assets';
import Dresscode from "../assets/images/iconodresscode.png"

---

<div class="text-center flex flex-col gap-10 px-10 items-center bg-[#B7A27A]/25 py-20">
    <h2 class="font-MonteCarlo text-4xl   ">Código de vestimenta</h2>

    <h3 class="font-Lora uppercase text-lg">formal</h3>
     <Image
        src={Dresscode}
        alt={"Imagen Icono de Vestimena"}
        class={"object-cover w-32  "}
        />

    <h3 class="font-Lora ">El color traje azul y vestido blanco <br>son reservados para el Novio y la Novia </h3>    
</div>