---
import { Image } from 'astro:assets';
import Ring from "../assets/images/ReySamai_3.jpeg"

---


<section class="py-20 px-6 bg-[#B7A27A]/25">

    <div class="max-w-md mx-auto text-center">

        <Image
            src={Ring}
            alt="Anillo de compromiso"
            class="w-full rounded-sm shadow-lg"
        />

        <div class="mt-10 flex items-center justify-center gap-4">

            <span class="h-px w-12 bg-[#C6D1AA]"></span>

            <span class="text-[#456145] text-xl">♥</span>

            <span class="h-px w-12 bg-[#C6D1AA]"></span>

        </div>

        <h2
            class="mt-8 font-MonteCarlo text-4xl "
        >
            Donde empieza nuestra historia juntos
        </h2>
    </div>

</section>


