---
import { Image } from 'astro:assets';
import Ring from "../assets/images/ReySamai_3.jpeg";
---

<section class="bg-[#B7A27A]/25 py-10 px-6">

    <div
        class="max-w-xl mx-auto
               border border-[#456145]/20
               py-10 px-6"
    >

        <!-- Ornamento superior -->
        <div class="flex justify-center items-center mb-10">

            <span class="w-16 h-px bg-[#456145]/40"></span>

            <span class="mx-4 text-[#456145] text-xl">
                ❦
            </span>

            <span class="w-16 h-px bg-[#456145]/40"></span>

        </div>

        <div class="text-center">

            <Image
                src={Ring}
                alt="Anillo de compromiso"
                class="w-full rounded-sm shadow-lg"
            />

          

            <h2
                class="mt-8 font-MonteCarlo text-4xl text-[#456145]"
            >
                Donde empieza nuestra historia juntos
            </h2>

        </div>

        <!-- Ornamento inferior -->
        <div class="flex justify-center items-center mt-10">

            <span class="w-16 h-px bg-[#456145]/40"></span>

            <span class="mx-4 text-[#456145] text-xl">
                ❦
            </span>

            <span class="w-16 h-px bg-[#456145]/40"></span>

        </div>

    </div>

</section>