
<div class=" border-b-orange-600 bg-[#C6D1AA]/50 p-20 text-center flex px-5 flex-col gap-10  ">

    <p class="font-MonteCarlo text-4xl pb-10">Con la bendición de Dios <br> y en compañía de nuestros padres</p>

    <div class="  border-red-500 pb-10">
        <p class="font-MonteCarlo text-4xl pb-4">Padres del novio</p> 
        <p class="font-Lora text-lg">Alfredo Espinoza Álvarez  <br>Y <br>Laura Raquel Trujillo Adarga</p>
    </div>
    
    <div class=" border-green-500">

        <p class="font-MonteCarlo text-4xl pb-4">Padres de la novia</p> 
        <p class="font-Lora text-lg">Álvaro Salgado Segundo <br>Y <br>Lucía Cárdenas Cruz</p>
    </div>

  
</div>
</div>