<div class="bg-[#C6D1AA]/50
           py-5 px-5
           text-center">

    <div class=" border-b-orange-600 bg-[#C6D1AA]/50 p-20 text-center flex px-5 flex-col gap-10  ">
         <div
        class="max-w-xl mx-auto
               border border-[#456145]/30
               py-12 px-8"
    >

        <div class="flex justify-center mb-10">

            <span class="w-16 h-px bg-[#456145]/40"></span>

            <span class="mx-4 text-[#456145]">
                ❦
            </span>

            <span class="w-16 h-px bg-[#456145]/40"></span>

        </div>    
               <p class="font-MonteCarlo text-4xl pb-10">Con la bendición de Dios <br> y en compañía de nuestros padres</p>
               
               <div class="  border-red-500 pb-10">
        <p class="font-MonteCarlo text-4xl pb-4">Padres del novio</p> 
        <p class="font-Lora text-lg">Alfredo Espinoza Álvarez  <br>Y <br>Laura Raquel Trujillo Adarga</p>
    </div>
    
    <div class=" border-green-500">
        
        <p class="font-MonteCarlo text-4xl pb-4">Padres de la novia</p> 
        <p class="font-Lora text-lg">Álvaro Salgado Segundo <br>Y <br>Lucía Cárdenas Cruz</p>
    </div>
      <div class="flex justify-center mt-10">

            <span class="w-16 h-px bg-[#456145]/40"></span>

            <span class="mx-4 text-[#456145]">
                ❦
            </span>

            <span class="w-16 h-px bg-[#456145]/40"></span>

        </div>
    
</div>
</div>
</div>